body{
    overflow: hidden;
    overflow-y: auto;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
}

h2{
    margin: 0;
}

h4{
    margin: 0;
}


a{
    text-decoration: none;
}


p{
    margin: 0;
}


figure{
    margin: 0;
}