
@media (max-width: 992px){
        .services{
            position: static;
            transform: translate(0, 0);
        
        }

}


@media (max-width: 768px){


    .services{

        .services-container{
            padding: 20px;
    
            
            .row{
                .col-md-3{
                    display: flex;
                    justify-content: center;
                    margin-bottom: 50px;
                }
            }
    
    
    
    
    
        }

    }

    



}